ion-item{
    border: none;
    border-radius: 15px;
    color: #ffffff;
    font-size: 20px;
    font-family: Roboto;
    font-weight: 400;
    text-align: center;
    
    background-color: #7a7c7e;
}
