<ion-content [fullscreen]="true">
  <form>
    
      <ion-card-content>
        <app-avatar></app-avatar>
      </ion-card-content>
    

    <ion-card>
      <ion-card-content>
        <app-input label="Name..." type="text"></app-input>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <app-input label="Lastname..." type="text"></app-input>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <app-input label="Age..." type="number"></app-input>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <app-input label="Phone..." type="number"></app-input>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <app-input label="E-mail..." type="email"></app-input>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <app-input label="Password..." type="password"></app-input>
      </ion-card-content>
    </ion-card>

    
      <ion-card-content>
        <ion-button expand="full" type="submit">Register</ion-button>
      </ion-card-content>
    
  </form>
</ion-content>
